[submodule "toolchain/gdb"]
	path = toolchain/gdb
	url = https://android.googlesource.com/toolchain/gdb
	branch = ndk-release-r17
[submodule "toolchain/python"]
	path = toolchain/python
	url = https://android.googlesource.com/toolchain/python
	branch = ndk-release-r17
[submodule "toolchain/yasm"]
	path = toolchain/yasm
	url = https://android.googlesource.com/toolchain/yasm
	branch = ndk-release-r17
[submodule "toolchain/binutils"]
	path = toolchain/binutils
	url = https://android.googlesource.com/toolchain/binutils
	branch = ndk-release-r17
[submodule "toolchain/cloog"]
	path = toolchain/cloog
	url = https://android.googlesource.com/toolchain/cloog
	branch = ndk-release-r17
[submodule "toolchain/expat"]
	path = toolchain/expat
	url = https://android.googlesource.com/toolchain/expat
	branch = ndk-release-r17
[submodule "toolchain/gcc"]
	path = toolchain/gcc
	url = https://android.googlesource.com/toolchain/gcc
	branch = ndk-release-r17
[submodule "toolchain/isl"]
	path = toolchain/isl
	url = https://android.googlesource.com/toolchain/isl
	branch = ndk-release-r17
[submodule "toolchain/mpc"]
	path = toolchain/mpc
	url = https://android.googlesource.com/toolchain/mpc
	branch = ndk-release-r17
[submodule "toolchain/mpfr"]
	path = toolchain/mpfr
	url = https://android.googlesource.com/toolchain/mpfr
	branch = ndk-release-r17
[submodule "toolchain/ppl"]
	path = toolchain/ppl
	url = https://android.googlesource.com/toolchain/ppl
	branch = ndk-release-r17
[submodule "toolchain/sed"]
	path = toolchain/sed
	url = https://android.googlesource.com/toolchain/sed
	branch = ndk-release-r17
[submodule "toolchain/xz"]
	path = toolchain/xz
	url = https://android.googlesource.com/toolchain/xz
	branch = ndk-release-r17
[submodule "platform/bionic"]
	path = platform/bionic
	url = https://android.googlesource.com/platform/bionic
	branch = ndk-release-r17
[submodule "platform/development"]
	path = platform/development
	url = https://android.googlesource.com/platform/development
	branch = ndk-release-r17
[submodule "platform/external/libcxx"]
	path = platform/external/libcxx
	url = https://android.googlesource.com/platform/external/libcxx
	branch = ndk-release-r17
[submodule "platform/external/libcxxabi"]
	path = platform/external/libcxxabi
	url = https://android.googlesource.com/platform/external/libcxxabi
	branch = ndk-release-r17
[submodule "platform/external/libunwind_llvm"]
	path = platform/external/libunwind_llvm
	url = https://android.googlesource.com/platform/external/libunwind_llvm
	branch = ndk-release-r17
[submodule "platform/external/llvm"]
	path = platform/external/llvm
	url = https://android.googlesource.com/platform/external/llvm
	branch = ndk-release-r17
